@using SocialMovie.Models
@using System.Collections.Generic
@model Movie

<h1></h1>

<div class="container-fluid" align="center">
@{
    <div class="row">
        <div class="offset-1 col-10 offset-1" >
            <div class="row rounded" style="background-color: #CCCCCC">
                <div class="offset-sm-2"></div>
                <div class="col-sm-8">
                    <br />
                    <div align="center" class="embed-responsive embed-responsive-4by3" style="background-color: #5e5e5e">
                        <video class="embed-responsive-item rounded" id="video_@Model.Id" poster="https://socialmovie.sytes.net:4000/@Model.Thumbnail.FullPath" onClick="setupVideo('https', 'socialmovie.sytes.net','4000','@Model.VideoFile.Path', '@Model.VideoFile.Name', '@Model.VideoFile.Extension', '@Model.Id')" controls></video>
                    </div>
                    <div class="rounded" style="background-color: #AAAAAA">
                        <h3></h3>
                        <p><strong>@Model.Name </strong>@Model.Description</p>
                    </div>
                </div>
                <div class="offset-sm-2"></div>
            </div>
        </div>
    </div>
}
    <div class="row">
        <div class="offset-1 col-10 offset-1">
            <div class="row rounded" style="background-color: #CCCCCC">
                <div class="offset-sm-6"></div>
                <div class="col-sm-4" style="background-color: #AAAAAA">
                    <p>Ratings</p>
                    @{ 
                        int[] stars = new int[5] { Model.Star1, Model.Star2, Model.Star3, Model.Star4, Model.Star5 };
                        int totalStars = Model.Star5 + Model.Star2 + Model.Star3 + Model.Star2 + Model.Star1;
                        int[] relativeStars = new int[5];
                        for(int i = 0; i < 5; i++)
                        {
                            relativeStars[i] = (stars[i] * 100) / (totalStars);
                        }
                        int j = 5;
                    }
                    @{  for (int i = 4; i >= 0; i--, j--)
                        {
                            <div class="row">
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" 
                                             aria-valuemin="0" aria-valuemax="@totalStars.ToString()" style="width: @relativeStars[i].ToString()%">
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-4">@j Star</div>
                           </div>
                        }
                    }
                    <br />
                </div>
                <div class="offset-sm-2"></div>
            </div>
            <br />
        </div>
        <br />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>